body {
    font-family: "Apple Chancery", cursive  ;
    background: lightgoldenrodyellow;
}
/* Structure */
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: 5px;
    margin-bottom: auto; /* Center horizontally */
}

/* Typography */




h1{
    color:cornflowerblue
}



#main-div {
    padding: 5px;
    width: 80%;
    margin: 5px;
    margin: auto;

}

#main-header{
    background-color:aqua;
    padding: 5px;
    border-radius: 5px;
    margin-bottom:10px;
}

#main-nav a{

    text-decoration: none;
    color: red;
}

#pic1,#pic2,#pic3{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

@media (min-width:900px){
#main-nav ul{
    background-color: aqua;
    display:flex;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#main-nav li{
    background-color: aqua;
    flex:1;
    margin-bottom: 5px;
    text-align: inherit;
    margin-right: 15px;
    border-radius: 5px;
}
#middle{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

}