body {
  background-color: yellow ;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color:lightblue;
  text-align: center; 
  
}

.assign{
  margin: 10px; 
  padding: 10px;
  backgroud-color: grey;
  display: flex;

}
.assign{
  width:200px;
  padding:10px; 
}
  
